.fuzzies {
    background-color: rgb(138, 218, 72);
}

.coconuts {
    background-color: aquamarine;
}

.soggies {
    background-color: beige;
}

.ticklers {
    background-color: blueviolet;
}

.towels {
    background-color: rgb(224, 65, 113);
}